<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagina Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card *ngIf="weatherData">
    <ion-card-content>
      <ion-card-title>Previsão do tempo para {{ weatherData.name }}</ion-card-title>
      <p>Temperatura: {{ weatherData.main.temp }} °C</p>
      <p>Condição: {{ weatherData.weather[0].description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
 -->

 <ion-content >
  <ion-card *ngIf="weatherData">
    <ion-card-content>
      <ion-card-title class="titulo">Previsão do tempo para {{ weatherData.name }}</ion-card-title>
      <ion-item>
        <ion-icon class="forecast-icon" name="thermometer"></ion-icon>
        <ion-label> Temperatura: {{ weatherData.main.temp }} °C</ion-label> 
      </ion-item>
      <ion-item>
        <ion-icon class="forecast-icon" name="cloudy"></ion-icon>
        <ion-label> Condição: {{ weatherData.weather[0].description }}</ion-label> 
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


